.container {
    width: 80vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: silver;
    width: 100%;
    height: 30%;
    margin: auto;
    border-radius: 10px 0 10px 10px;
    color: blanchedalmond;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;


}
.ul{
    display: flex;
    font-size: 26px;
    list-style-type: none;
    justify-content: space-between;
    width: 40%;
    color: white;
}
ul a{
    text-decoration: none;
    color: white;

}
ul a:hover{
    transition: silver 0.3s linear;
    border-bottom: navajowhite 1px;
}
.header_in{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: left;
    background-color: silver;
    width: 98%;
    height: 30%;
    margin: 10px auto;
    border-radius: 10px 0 10px 10px;
    border: 3px solid lavender;

}
.header_item{
    width: 124px;
    height: 180px;
    display: block;
    background-color: white;
    margin:  0 5px;
}
.body_part{
    height: 100%;
    background-color: green;
    width: 98%;
    margin: 15px auto;
    border-radius:10px;
    display: flex;
    flex-direction: row;
justify-content: space-around;
/* align-items: center; */
align-items: start;
padding:  10px ;
}

.update{
    width: 30%;
    height: 95%;
    background-color: rgb(255, 123, 123);
    display: flex;flex-direction: column;
}
.last_news{
    width: 97%;
    height: 90px;
    background-color: gray;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.last1{
    width: 33%;
    background-color: white;
}
.last2{
    width: 33%;
    background-color: white;

}
.last3{
    width: 33%;
    background-color: white;

}

.current{
    width: 68%;
    background-color: gray;
    height: 95%;
}
.current_ad{
    height: 45vh;
    background-color: gray;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.current_left{
    width: 30%;
    background-color: white;
    height: 98%;

}
.current_right{
    width: 67%;
    height: 98%;
    background-color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.text{
    margin: 12px auto auto;
    padding: 10px;
    border-radius: 25px;
    color: #919aa3;
    border: solid #919aa3;
}
.texts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#like{
    background: green;
    margin: 5px;
    border-radius: 3px;
    color: #fff8f8;
    border-color: white;

}
#dislike{
    color: #fff8f8;
    background: red;
    margin: 5px;
    border-radius: 3px;
    border-color: white;
}
