<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mainPage.css" type="text/css">
</head>

<body>
    <div class="header">
        <ul class="ul">
            <li><a href="/">Home</a></li>
            <li><a href="/add_film">Add</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="header_in">
            <div class="header_item">new header</div>
            <div class="header_item">new header</div>
            <div class="header_item">new header</div>
            <div class="header_item">new header</div>
            <div class="header_item">new header</div>
            <div class="header_item">new header</div>
        </div>
        <div class="body_part">
            <div class="update">
                <div class="last_news">
                    <div class="last1"></div>
                    <div class="last2"></div>
                    <div class="last3"></div>
                </div>
                <div class="last_news">
                    <div class="last1"></div>
                    <div class="last2"></div>
                    <div class="last3"></div>
                </div>
                <div class="last_news">
                    <div class="last1"></div>
                    <div class="last2"></div>
                    <div class="last3"></div>
                </div>
                <div class="last_news">
                    <div class="last1"></div>
                    <div class="last2"></div>
                    <div class="last3"></div>
                </div>
                <div class="last_news">
                    <div class="last1"></div>
                    <div class="last2"></div>
                    <div class="last3"></div>
                </div>
                <div class="last_news">
                    <div class="last1"></div>
                    <div class="last2"></div>
                    <div class="last3"></div>
                </div>

            </div>
            <div class="current">
                <div class="current_ad">
                    <div class="current_left"></div>
                    <div class="current_right"></div>
                </div>
                <div class="current_ad">
                    <div class="current_left"></div>
                    <div class="current_right"></div>
                </div>
                <div class="current_ad">
                    <div class="current_left"></div>
                    <div class="current_right"></div>
                </div>
                <div class="current_ad">
                    <div class="current_left"></div>
                    <div class="current_right"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>